.div_row_laptop{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div_col_laptop{
    display: flex;
    flex-direction: column;
}

table{
    border: solid black 1px;
    margin: auto;
}

th, td, tr {
    border: solid black 1px;
}

td, th{
    width: 400px;
    height: 100px;
}